<!doctype html>
<head>
    <title>88wpm</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/index.css" />
</head>
<body>
    <div id="header">
        <img id="logo" src="images/logo_transparent.png" />
    </div>
    <div id="app" v-cloak>
        <div class="scroll-padding"></div>
        <div class="lane" v-if="activeScreen !== 'menu'" v-for="lane in lanes">
            <div class="car"
                v-bind:class="(lane.nick === nick ? 'own' : '') + ' ' + (lane.progressPercent > .85 ? 'almost-finished' : '')"
                v-bind:style="'margin-left: ' + (lane.progressPercent*93.) + '%'" >
                <span class="car-nick">{{ lane.nick }}</span>
                <img class="car-pic"
                    v-bind:src="'images/' + (lane.sprite || 'car1') + '.png'" />
            </div>
        </div>
        <div class="scroll-padding"></div>
        <div id="footer">
            <div id="text">
                <span v-for="wordInfo in words" v-bind:class="wordInfo.state" class="word">{{ wordInfo.word }} </span>
            </div>
            <div id="toolbar">
                <div id="text-input-holder">
                    <input id="text-input" v-model="textInput" v-on:keyup="onTextInput($event)" />
                </div>
                <div id="stats" v-if="activeScreen !== 'menu'">
                    {{ ranking | ordinal }}/{{ lanes.length }} &nbsp; {{ wpm }}wpm
                </div>
            </div>
        </div>

        <div v-if="activeScreen === 'menu'" class="overlay">
            <div class="overlay-panel">
                <h1>Welcome to 88wpm</h1>
                <form class="overlay-panel-body" v-on:submit="$event.preventDefault() || newGame()">
                    <p class="legend">In this typing game, be the first to type the full paragraph of text and reach the finish line!</p>
                    <p>1. Choose a nickname</p>
                    <input class="input" v-model="nick" type="text" />
                    <p>2. Press "New game"... and get ready to type!</p>
                    <input type="button" v-on:click="newGame()" value="New game" />
                </form>
            </div>
        </div>

        <div v-if="activeScreen === 'gameOver'" class="overlay">
            <div class="overlay-panel">
                <h1>Game complete!</h1>
                <div class="overlay-panel-body">
                    <h2>Ranking: {{ ranking | ordinal }}/{{ lanes.length }}</h2>
                    <h2>Typing speed: {{ wpm }}wpm</h2>
                    <p class="legend" v-if="wpm >= 88">Over 88 words per minute Marty! A pace from the future!</p>
                    
                    <input type="button" v-on:click="newGame()" value="New game" />
                    <input type="button" v-on:click="reset()" value="Back to menu" />
                </div>
            </div>
        </div>

        <div v-if="activeScreen === 'countdown'" class="overlay-transparent">
            <div class="overlay-panel">
                <div class="red-lights">
                <span v-for="n in 3" class="red-light" v-bind:class="(n <= lightsOn) ? 'on' : ''">
                </div>
            </div>
        </div>
    </div>
    <script src="dist/client/site.js"></script>
</body>
</html>