<!doctype html>
<head>
    <title>88wpm</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/index.css" />
</head>
<body>
    <div id="header">
        <img id="logo" src="images/logo_transparent.png" />
    </div>
    <div id="app" v-cloak>
        <div class="scroll-padding"></div>
        <div class="lane" v-for="lane in lanes">
            <div class="car"
                v-bind:class="(lane.nick === nick ? 'own' : '') + ' ' + (lane.progressPercent > .85 ? 'almost-finished' : '')"
                v-bind:style="'margin-left: ' + (lane.progressPercent*93.) + '%'" >
                <span class="car-nick">{{ lane.nick }}</span>
                <img class="car-pic"
                    v-bind:src="'images/' + (lane.sprite || 'car1') + '.png'" />
            </div>
        </div>
        <div class="scroll-padding"></div>
        <div id="footer">
            <div id="text">
                <span v-for="wordInfo in words" v-bind:class="wordInfo.state" class="word">{{ wordInfo.word }}</span>
            </div>
            <div id="toolbar">
                <div id="text-input-holder">
                    <input id="text-input" v-model="textInput" />
                </div>
                <div id="stats">
                    {{ ranking | ordinal }}/{{ lanes.length }} &nbsp; {{ wpm }}wpm
                </div>
            </div>
        </div>
    </div>
    <script src="dist/client/site.js"></script>
</body>
</html>