/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #07021a;
}

/* Header */

#header {
    background-color: #100835;
    line-height: 90px;
    box-shadow: 0 -40px 40px -40px rgba(255, 100, 150, 0.8) inset, 0 -10px 10px -15px white inset;
    border-bottom: 3px solid #100835;
    text-align: center;
}
#logo {
    height: 50px;
    vertical-align: middle;
}

/* Game zone */

#app {
    overflow: hidden;
    max-height: 100%;
}

[v-cloak] {
    opacity: 0;
}

/* Lane */

.scroll-padding {
    height: 20px;
    background-color: #07021a;
}

.lane {
    height: 60px;
    line-height: 80px;
    border-bottom: 3px solid #ae5a84;
    padding: 0 10px;
}

.car {
    position: relative;
    vertical-align: middle;
    transition: all .5s;
}
.car > .car-pic {
    height: 32px;
}
.car.own > .car-pic {
    height: 48px;
}
.car > .car-nick {
    top: -10px;
    left: 80px;
    color: white;
    position: absolute;
    font-size: 18px;
}
.car.own > .car-nick {
    left: 110px;
}
.almost-finished .car-nick {
    left: -100px !important;
}

/* Footer */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #100835;
    box-shadow: 0 100px 100px -100px rgba(255, 100, 150, 0.8) inset, 0 10px 10px -15px white inset;
}

#text {
    margin: 20px auto;
    padding: 15px;
    max-width: 800px;
    font-size: 24px;
    background-color: #AAB;
    color: #07021a;
}
#text .word {
    margin-right: 6px;
}
#text .word.done {
    color: #666;
}
#text .word.todo {
    color: #006608;
}
#text .word.error {
    color: #882200;
}

#toolbar {
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
    width: 800px;
}

#text-input-holder {
    display: inline-block;
    width: 50%;
}

#text-input {
    padding: 5px;
    font-size: 32px;
    background-color: white;
    color: black;
    border: 0;
}

#stats {
    display: inline-block;
    text-align: right;
    width: 49%;
    font-size: 32px;
    color: white;
}